   @charset 'UTF-8';
/* 모바일만 ~767px */
@media screen and (max-width: 767px) {
   #osc-hd {
      position: fixed;
      width: 100%;
      z-index: 100;
   }
   .hd-wrap {
      display: flex;
      align-items: center;
      background: #fff;
      height: 60px;
   }
   .gnb-wrap{
      top: -100%;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      z-index: 1;
   }
   .gnb-wrap.open {
      top: 0;
   }
   .lang{display: none;}

   .menu-open:hover{
   }
   .profile {position: relative; display: block; color: #fff; text-align: center; padding: 60px 0 40px;}
   .profile h2 {
      position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 2.5em;
    line-height: 1.4;
   }
   .profile h2:after {
   content: '';
   position: absolute;
   display: block;
   left: 50%;
   bottom: 0;
   width: 50px;
   height: 1px;
   background-color: #fff;   transform: translateX(-50%);

   }
   .profile h5 {
      font-size:1.1em;
   }
   #osc-gnb {
      position: relative;
      width: 100%;
   }
   .depth1>li>a{
      line-height: 4;
      font-size: 1.3em;
   }
   .depth2 {
      width: 100%;;
      background: #999;
      display: none;
   }
   .depth2 {
      font-size: 1.1em;
      line-height: 2.5;
   }

   .ft-logo a {display: none;}
   .ft-wrap {
      margin: 0 auto;
      text-align: center;
   }
   .ft-info-wrap {}
   .ft-info h4 {}
}

/* 태블릿부터 768px~ */
@media screen and (min-width: 768px) {
   
   .attr-nav *{color: #000;}
   .ft-wrap {
      display: flex;
      flex-direction: column;
   }
   .ft-info-wrap {
      display: flex;
      justify-content: center;
   }
   
}

/* 태블릿만 768px~1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
   .hd-wrap {
      display: flex;
      align-items: center;
      background: #fff;
      height: 60px;
   }
   .gnb-wrap{
      top: -100%;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      z-index: 1;
   }
   .gnb-wrap.open {
      top: 0;
   }
   .lang:hover {
      color: #f00;
   }
   .profile {position: relative; display: block; color: #fff; text-align: center; padding: 60px;}
   .profile h2 {
      position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 2.5em;
    line-height: 1.4;
   }
   .profile h2:after {
   content: '';
   position: absolute;
   display: block;
   left: 50%;
   bottom: 0;
   width: 60px;
   height: 1px;
   background-color: #fff;   
   transform: translateX(-50%);

   }
   .profile h5 {
      font-size:1.5em;
   }
   #osc-gnb {
      position: relative;
      width: 100%;
   }
   .depth1>li>a{
      line-height: 4;
      font-size: 1.3em;
   }
   .depth2 {
      width: 100%;;
      background: #999;
      display: none;
      
      font-size: 1.1em;
      line-height: 2.5;
   }
}

/* PC부터 1024px~ */

@media screen and (min-width: 1024px) {
   .profile {
   display: none;
}
   #osc-main.fp-viewing-1 #osc-hd,
   #osc-main.fp-viewing-2 #osc-hd{
      background: rgba(0,0,0,0.5);
      backdrop-filter: blur(10px);
   }
   #osc-main.fp-viewing-2 #osc-hd {
   }
   .gnb-open, .gnb-close {
      display: none;
   }
   .menu-open{
      position: absolute;
      top: 5px;
      right: 30px;
      display: block;
      color: #fff;
      line-height: 4.8;
      font-size: 1.1em;
      transition: 0.3s;
   }
   
   .menu-open:hover{
      color: #f00;
   }
   .all-menu-close {
      position: absolute;
      top: 30px;
      right: 105px;
      width: 35px;
      height: 40px;
      background: url('../images/mobile/xmark-solid.svg') center center no-repeat;      
      transform: rotate(90deg);
      transition: 0.5s;
      display: none;
      opacity: 0;
   }
   .all-menu-close:hover {
      background-image: url('../images/mobile/xmark-solid\ copy.svg');
   }
   #all-menu{
      position: fixed;
      top: -100%;
      right: 0;
      display: block;
      width: 100vw;
      z-index: 9999;
      transition: 0.5s;
      background: url('../images/oscotec.png') 100% / cover no-repeat;
      opacity: 0;
      overflow: auto;
   }
   #all-menu.down {
      top: 0;
      opacity: 1;
   }
   #all-menu.down .all-gnb {
      backdrop-filter: brightness(0.4) blur(5px);
   }
   #all-menu.down .all-menu-close {
      display: block;
      opacity: 1;
   }
 
   .all-gnb {
      height: 100vh;
      transition:1.5s;
   }
   .all-menu-title {
      position: absolute;
      left: 50%;
      top: 7%;
      width: 400px;
      height: 100px;
      background: url(../images/logo_wh.png) 100% 100% / contain no-repeat;
      transform: translateX(-50%);
   }
   .dp1 {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-bottom: 30px;
      display: flex;
      color: #fff;
      flex-direction: column;
      justify-content: center;
   }
   .dp1>li {
      display: flex;
      align-items: center;
      width:100%;
      line-height: 3.3;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   }
   .dp1>li:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
   }
   .dp1>li>a {
      display: block;
      width: 20%;
      text-align: center;
      font-size: 1.5em;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
   }
   .dp1 a:visited {
      color: inherit;
   }
   .dp2 {
      display: flex;
      align-items: center;
      width: 100%;
      line-height: 5;
      font-size: 1em;
      font-weight: 300;
   }
   .dp2>li{
      display: flex;
      justify-content: start;
      width: 15%;
      transition: 0.2s;
   }
   .dp2 a {
      position: relative;
      display: flex;
      justify-content: start;
      padding-left: 20%;
      width: 100%;
      height: 100%;
   }
   .dp2 a::before{
      position: absolute;
      left: 0;
      background-color: #282B2F;
      display: block;
      content: '';
      width: 0;
      height: 100%;
      transition: 0.4s;
      z-index: -1;
   }
   .dp2 a:hover:before{
      width: 100%;
   }

   /* 헤더 */

   #osc-hd {
      backdrop-filter: blur(10px);
      background: transparent;
      transition: 0.5s;
      height: 100px;
   }
   .hd-wrap {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      transition: 0.3s;
      outline: 1px solid rgba(255, 255, 255, 0.3);
   }
   .osc-logo {      
      position: relative;
      left: 8%;
      width: 180px;
      height: 100%;
      display: block;    
      z-index: 1;

   }
   .gnb-wrap{
      top: 0;
      display: flex;      
      width: 100%;
      height: 100%;
      transition: 0.3s;
      background: transparent;
   }
   #osc-gnb {
      position: relative;
      left: 150px;
      display: flex;
      width: 100%;
      height: 100px;
      align-items: center;
   }
   .osc-logo a, .lang {
      transition: 0.5s;
   }
   .osc-logo a {
      height: 100px;
      background: url('../images/logo_wh.png') center center / contain no-repeat;
   }
   
   .depth1 {
      position: absolute;
      top: 0;
      display: flex;
      width: 85%;
      height: 100px;
      line-height: 6;
   }
   .depth1>li:hover:after {
      transform: scaleX(0.75);
   }
  .depth1>li:after {
      position: absolute;
      top: 98px;
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      transition: 0.3s;
      transform: scaleX(0);
      transform-origin: center center;
   }
   
   .depth1 > li {
      position: relative;
      width: 70%;
   }

   .depth1 > li > a {
      width: 100%;
      font-size: 1.1em;
   }
   .depth1 a {
      width: 100%;
   }
   .depth2 {
      transition: 0.5s;
   }
   .depth2 a {
      font-size: 0.9em;
      line-height: 0;
      opacity: 0;
      color: rgba(255,255,255,0.8);
      overflow: hidden;
   }
   #osc-hd.active {
   }
   #osc-hd.active .hd-wrap {
      outline-color: rgba(255,255,255,0.9);
   }
   #osc-hd.active .depth2 a:hover {
      color: rgba(255,255,255,1);
      font-weight: 500;
   }
   #osc-hd.active .gnb-wrap {
      background-color: rgba(0,0,0,0.5);
      height: 581px;
   }
   #osc-hd.active .depth1 {
   }
   #osc-hd.active .depth2 a{
      line-height: 3.5;
      opacity: 1;
   }
   #osc-hd.active .lang {
   }
   #osc-hd.active .lang:hover {
      color: #f00;
   }
   .attr-nav {   
      top: 0;
      font-size: 1.1em;
      line-height: 5;
      display: none;
   }
   .lang {color: #fff}

}

/* 작은 PC 1024px~1279px */
@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

/* PC 1280px~ */
@media screen and (min-width: 1280px) {
   .osc-logo {
      width: 200px;
   }
   #osc-gnb {
      left: 15%;
   }
   .depth1 {width: 70%;}
   .depth2 a {
      font-size: 1em;
   }   
   .attr-nav {   
      display: block;
      right: 5%;
      line-height: 5;
   }
   
   .lang {color: #ededed;}
   .menu-open{
      position: relative;
      top: 5px;
      right: 5%;
  }

}