/* 모바일만 ~767px */
@media screen and (max-width: 767px) {
  #fp-nav {
    display: none;
  }
  .intro-text {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  .biz-wrap,.news-wrap {position: static;}
  .dev-list, .bsn-list {line-height: 1.5; width: 70%; overflow: hidden;}
  .dev-list {top:50px; bottom:initial; line-height: 2.5;}
  .bsn-list {top:initial; bottom: 50px; left: 50px; right: initial;}
  .dev-tit, .bsn-tit {transition: 0.4s; }
  .business:hover .bsn-tit, .develop:hover .dev-tit {opacity: 0;}
  .dev-bg:after, .bsn-bg:after {background: rgba(0,0,0,0.9); height: 50%;}
  .business:hover .bsn-bg:after, .develop:hover .dev-bg:after {background: rgba(0,0,0,0.8);}

  @keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .news-title-wrap {left: 5%; top: 10%; width: 100%;}
  .news-title-wrap h2 {top:3%; font-size: 2.5em;}
  .news-title-wrap p {top:30%; font-size: 1.2em;}

  #osc-main.fp-viewing-media .news-tit {animation: opacity 0.5s linear 0.3s both;}
  .news-box {width: 100%;}
  .news-li {width: 100%;}
  .news-li:nth-last-child(1),.news-li:nth-last-child(2),.news-li:nth-last-child(3){display: none;}
  .news-txt {display: none;}
  #fp-nav.fp-right {right: 25px;}
  #osc-main.fp-viewing-incruit #fp-nav ul li a span {border-color: #fff;}

  #osc-main.fp-viewing-incruit #fp-nav ul li a.active span, #osc-main.fp-viewing-incruit #fp-nav ul li:hover a.active span {border:1px solid #fff; background: #000;}
  #osc-main.fp-viewing-incruit #fp-nav ul li a span,
  #osc-main.fp-viewing-incruit #fp-nav ul li a::before,
  #osc-main.fp-viewing-incruit #fp-nav ul li a::after {
    background-color: #fff;
  }
  #osc-main.fp-viewing-incruit #fp-nav ul li .fp-tooltip {
    color: #fff;
 
  }
}
/* 태블릿부터 768px~ */
@media screen and (min-width: 768px) {
  .news-box {
    width: 100%;
  }
  .biz-wrap > div {
    display: table-cell;
    width: 50%;
  }
  .biz-wrap > .develop {
    padding-top: 150px;
  }
}

/* 태블릿만 768px~1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* PC부터 1024px~ */
@media screen and (min-width: 1024px) {
  .fp-tableCell {
    padding-top: 100px;
  }
  #osc-main.fp-viewing-biz #osc-hd,
  #osc-main.fp-viewing-media #osc-hd,
  #osc-main.fp-viewing-incruit #osc-hd,
  #osc-main.fp-viewing-4 #osc-hd{
    background: rgba(0,0,0,0.7);
  }
  .intro-title-wrap {
    position: relative;
    width: 750px;
    padding: 50px;
    white-space: nowrap;
    background:rgba(0,0,0,0.6);
    overflow: hidden;
    z-index: 1;
    opacity: 1;
    transition: 0.5s;
  }
  .more {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
  .biz-wrap > div {
    padding: 100px;
    padding-top: 200px;
  }
  .emp-wrap {
    position: relative;
  }
  .news-wrap .more {
    position: static;
  }
  .news-title-wrap {
    float: left;
    width: 400px;
  }
  .news-box {
    float: left;
    width: calc(100% - 400px);
  }
  
}

/* 작은 PC 1024px~1279px */
@media screen and (min-width: 1024px) and (max-width: 1279px) {

}

/* PC 1280px~ */
@media screen and (min-width: 1280px) {
  .news-tit {
    left: 10%;
  }
}