.tabcon-txt ul,
.tabcon-txt ol {
  list-style-type: circle;
  padding: 30px;
}
.AIFImg {margin-left: 20px;}
.tab-menu {overflow: hidden;}
.tab-li {float: left;}
.tab-li.on {
  background-color: #f5f5f5;
}
.tab-li a{
  display: block;
  padding: 30px 50px;
}
.tabcontent {
  display: none;
  padding: 80px;
  background-color: #f5f5f5;
}
.tabcontent.show {display: block;}
.tabcontent h4 {color: #222; margin-top: 30px;}

.tabcon-title {
  font-size: 2em;    
  color: #444;
  margin: 20px 0;
}

.tabcon-img {
  margin: 10px 0 0 20px;
}
.tabcon-img:after {
  display: block;
  background-color: #000;
  content: '';
}
.tabcon-txt {
  margin: 10px 0 0 50px;
  color: #333; 
  font-weight: 300; 
  line-height: 2;
}
.tabcon-txt h5 {
  padding: 10px 0;
  font-size: 16px;
}
.AIF-logo {padding:20px;}
.tabcon-table * {padding: 10px; border: 1px solid #fff;}
.tabcon-table th {background: #000; color: #fff;}
.tabcon-table td {
  background: #888;
  color: #fff;
  text-align: center;
  word-break: keep-all;
}
.tabcon-table .even {
  background: #b9b9b9;
}
.table-wrap {padding-top: 30px;}
.contact-table {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}
.contact-table th,
.contact-table td {
  padding: 15px 20px;
  text-align: center;
}

/* 모바일 */
@media screen and (max-width:767px) {
  .tabcontent {padding: 30px;}
  .row {
    padding: 0;
  }
  .sub-main-content img {
    width: 100%;
  }
  .tabcontent {padding: 15px;}
  .sub-main-content .AIF-logo {width: inherit;}
  .tabcon-img {margin: 0;}
  .tabcon-txt {margin: 0;}
  .tabcon-table * {padding: 0;}
  .hidden {display: none;}
}
/* 태블릿 */
@media screen and (min-width:767px) and (max-width: 1023px) {
  .sub-main-content img {
    width: 100%;
  }
  .sub-main-content .AIF-logo {width: inherit;}
}
